# Created by Vercel CLI
API_BASE_URL=                       # https://your-api-id.execute-api.ap-southeast-4.amazonaws.com#
AUTH_COGNITO_DOMAIN=                # cognito hosted UI domain prefix (terraform output cognito_domain)
AUTH_COGNITO_ID=                    # your-cognito-client-id#
AUTH_COGNITO_ISSUER=                # https://cognito-idp.ap-southeast-4.amazonaws.com/your_user_pool_id#
AUTH_SECRET=                        # replace-me-with-a-long-random-string
AWS_ACCESS_KEY_ID=                  # your-aws-access-key-id#
AWS_REGION=                         # your-aws-region# e.g. ap-southeast-4
AWS_SECRET_ACCESS_KEY=              # your-aws-secret-access-key#
NEXT_PUBLIC_API_BASE_URL=           # https://your-api-id.execute-api.ap-southeast-4.amazonaws.com#