AUTH_SECRET=                        # replace-me-with-a-long-random-string

AUTH_COGNITO_ID=                    # your-cognito-client-id#
AUTH_COGNITO_ISSUER=                # https://cognito-idp.ap-southeast-4.amazonaws.com/your_user_pool_id#
AUTH_COGNITO_DOMAIN=                # cognito hosted UI domain prefix (terraform output cognito_domain)

API_BASE_URL=                       # https://your-api-id.execute-api.ap-southeast-4.amazonaws.com#
