/node_modules
/package.json
*.terraform.tfstate
.idea/
.vscode/
.DS_Store
.cursor/

# Terraform
**/build/
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# ML models
ml_models/*.pt
ml_models/*.txt
ml_models/*.jpg

# Python
.venv/
**/.venv/
__pycache__/
*.py[cod]